<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contato</h2><br>       
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                    <p>Rua Padre Roma, 482 - Sala 106</p>
                    <p>Premier Office Center</p>
                    <p>Centro - Florianópolis - SC</p>
                    <p>Fone (48) 3028-9900 | (48) 98421-2345</p>                  
                    </div>     
                </div>                
        </div>
    </section>
