<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">NOSSOS SERVIÇOS</h2><br>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    -->            
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pilates</h4>
                    <p class="text-muted">O método desenvolvido por Joseph Pilates é definido como uma forma de obtenção e manutenção da saúde, realizando exercícios que unem o corpo e mente, com o objetivo de melhorar o condicionamento físico, aliviar tensões e estresse cotidiano, melhora de dores crônicas, principalmente da coluna vertebral. O Pilates, além de ser praticado como atividade física, pode ser realizado como reabilitação das mais diversas patologias, trazendo mais qualidade de vida para os pacientes. Atendemos, no máximo, dois pacientes por hora marcada, preservando assim a qualidade do atendimento.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-lizard-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">RPG</h4>
                    <p class="text-muted">A Reeducação Postural Global, ou RPG, é uma técnica de Fisioterapia desenvolvida para o tratamento das dores que têm origem em desvios posturais. O tratamento é totalmente livre de medicamentos, sendo realizado apenas com trabalhos respiratórios, posturais e alongamentos. As sessões são individuais duram cerca de 50 minutos e são semanais. Inicialmente realiza-se uma avaliação, seguida da prescrição de 10 (dez) sessões; depois é feita uma reavaliação do paciente com o intuito de definir se existe a necessidade de continuar o tratamento ou se o paciente está definitivamente de alta.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-stop-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Terapia Manual</h4>
                    <p class="text-muted">A Terapia Manual é indicada para reposicionar estruturas neuro-músculo-esqueléticas, aliviar tensões, contraturas, sobrecargas mecânicas, dores crônicas, fibromialgias, tendinites e uma série de outras patologias e disfunções posturais. Atuamos diretamente na causa do problema e não nos sintomas, considerados apenas consequência de uma provável biomecânica em disfunção. A formação qualificada do terapeuta manual é de suma importância para a realização de um diagnóstico preciso e tratamento adequado das disfunções ortopédicas em geral.</p>
                </div>
            </div>
        </div>
    </section>